/*
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select#customizing_select_style
*/

:root {
    --background-color: white;
}

body {
    margin: 1rem;
    font-family: arial;
}

button, fieldset {
    margin: 1rem 0;
}

button {
    padding: .5rem 1rem;
}

/* <select> search input */
input[type=search].select {
    /*width: 100%;*/
    margin: .5rem;
    padding: .5rem;
    min-height: 1rem;
}

.select[data-multiple] .header {
    display: none;
}

/* XXX: why is the content set twice? */

.select .header {
    content: '↓';
    display: inline-flex;
    align-items: center;
    padding: 0;
    position: relative;
}

.select > .header::after {
    content: '↓';
    align-self: stretch;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: .5em;
}

.select .option:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.options-list {
    /*padding: .5rem;*/
}

/* disable hide when search is on and matched */
.options-list.search .option.match {
    display: block;
}

/* hide all options when searching, unhiding matches */
.options-list.search .option {
    display: none;
}

.options-list .option {
    padding: 1rem;
}

/* hide original select tags */
.select .header select {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border-width: 0;
    width: 100%;
    flex: 1;
    display: none;
}

/*
.select .header select optgroup {
    display: none;
}
*/

/*
.select select div.option {
    display: none;
}
*/

/* style select wrapper like a button */
.select {
    user-select: none;
    box-sizing: border-box;
    /*position: relative;*/
    /*
    border-style: solid;
    border-width: 0;
    border-color: gray;
    */
    /*width: auto;*/
    width: fit-content;
    display: inline-block;
}

.select .header {
    flex: 1;
    display: flex;
    width: auto;
    box-sizing: border-box;
    border: 1px solid gray;
}

.dropdown[data-open] {
    display: initial;
}

.dropdown {
    background-color: white;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    /*left: 0;*/
    display: none;
    /*width: 100%;*/
    box-sizing: border-box;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown > .options-list {
    /* it's like this inherits display: none and doesn't lose it. */
    /* TODO: figure this out */
    display: initial;
}

fieldset#custom div.select datalist div.option {
    /*background-color: white;*/
    margin-bottom: 1px;
    cursor: pointer;
    padding: 0.5em;
    border-width: 0;
}

fieldset#custom div.select div.optgroup div.label {
    font-weight: bold;
}

fieldset#custom div.select div.optgroup div.option div.label {
    font-weight: normal;
    padding: .25em;
}

fieldset#custom div.select div.header span {
    flex: 1;
    padding: .5em;
}
