/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select#customizing_select_style */

:root {
    --background-color: white;
}

body {
    margin: 1rem;
    font-family: arial;
}

button, fieldset {
    margin: 1rem 0;
}

button {
    padding: .5rem 1rem;
}

input[type=search] {
    width: 100%;
}

datalist {
    background-color: white;
    color: black;
}

.select:focus {
    /*border-color: blue;*/
}

fieldset#custom div.select[data-multiple] div.header {
    display: none;
}

fieldset#custom div.select div.header {
    content: '↓';
    display: inline-flex;
    align-items: center;
    padding: 0;
    position: relative;
}

.select > .header::after {
    content: '↓';
    align-self: stretch;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: .5em;
}

.select .option:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.dropdown input[type=search] {
    padding: .25rem;
}

.datalist.search .option.match {
    display: initial;
}

.datalist.search .option {
    display: none;
}

fieldset#custom div.select div.header:hover:after {
    /*background-color: blue;*/
}

/* hide original select tags */
.select .header select {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border-width: 0;
    width: 100%;
    flex: 1;
    display: none;
}

/*
.select .header select optgroup {
    display: none;
}
*/

/*
.select select div.option {
    display: none;
}
*/

/* style select wrapper like a button */
fieldset#custom div.select {
    user-select: none;
    box-sizing: border-box;
    position: relative;
    border-style: solid;
    border-width: 0;
    border-color: gray;
    width: auto;
    display: inline-block;
}

.dropdown[data-open] {
    display: initial;
}

.dropdown {
    background-color: white;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    left: 0;
    display: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown > .datalist {
    /* it's like this inherits display: none and doesn't lose it. */
    /* TODO: figure this out */
    display: initial;
}

fieldset#custom div.select datalist div.option {
    /*background-color: white;*/
    margin-bottom: 1px;
    cursor: pointer;
    padding: 0.5em;
    border-width: 0;
}

fieldset#custom div.select div.optgroup div.label {
    font-weight: bold;
}

fieldset#custom div.select div.optgroup div.option div.label {
    font-weight: normal;
    padding: .25em;
}

fieldset#custom div.select div.header {
    flex: 1;
    display: flex;
    width: auto;
    box-sizing: border-box;
    border-width: 1px;
    border-style: inherit;
    border-color: inherit;
    border-radius: inherit;
}

fieldset#custom div.select div.header span {
    flex: 1;
    padding: .5em;
}
