/*
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select#customizing_select_style
*/

:root {
    --button-border-color: black;
}

/* <select> search input */
input[type=search].select {
}

.label-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.label-container > .value {
    flex: auto;
}

.label-container > .arrow {
    flex-shrink: 1;
}

/* an option in select */
.select .option {
}

/* hover option in select */
.select .option:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* disable hide when search is on and matched */
.options-list.search .option.match {
    display: block;
}

/* hide all options when searching, unhiding matches */
.options-list.search .option {
    display: none;
}

.options-list .option {
    padding: 4px;
}

/* hide original select tags */
.select .header select {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border-width: 0;
    width: 100%;
    flex: 1;
    display: none;
}

/* style select wrapper like a button */
.select.button {
    user-select: none;
    box-sizing: border-box;
    width: fit-content;
    display: inline-block;
}

/* this is the current value shown */
.select .header {
    flex: 1;
    display: flex;
    width: auto;
    box-sizing: border-box;
    /* color picked from Firefox */
    border: 1px solid var(--button-border-color);
    /* radius eye-balled from Firefox */
    border-radius: 4px;
}

.select .header:hover {
}

.dropdown[data-open] {
    display: initial;
}

.dropdown {
    background-color: white;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    border: 1px solid var(--button-border-color);
    /*left: 0;*/
    display: none;
    /*width: 100%;*/
    box-sizing: border-box;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
